   
body{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: auto;
    padding: 20px 50px;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100% 100%;
}
li{
    font-size: small;
    float: right;
    list-style-type: none;
    margin: 1px;
    margin-right: 100px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    display: inline-block;
    padding: 2px;
    border-style: groove;
    border-radius: 40px;
    box-shadow: 5px 8px rgb(121, 127, 177); 
}
header{
    font-size: larger;
    margin-left: 150px;
    font-size: 1.5em;
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
.Container{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
    float: right;
    background-color: rgb(77, 141, 184);
}
img.center{
    border: 3px solid #ddd;
    border-radius: 4px;
    padding: 0.4%;
    width: 30%;
    height: 30%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    margin-bottom: 60px;
}
h3{
    text-align: center;

}
p {
text-align: justify;
margin: auto;
}
div.Container {
    width: 30%;
    height: 286px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 1rem;
    padding-bottom: 60px;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    border: 3px solid #ddd;
    bottom:435px;
}
div.Container:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img{
    width: 50px;
    margin-top: 50px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}
footer{
    background-color: rgb(32, 117, 196);
    border-radius: 15px;
    padding: 20px;
    padding-top: 10px;
    margin-bottom: 50px;
    border: solid black;
}


